<footer class="main-footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-logo marg-btm-10 text-center">
                <a>
                    <img src="/images/logo-white.png" style="width: 80px;">
                </a>
            </div>
            <div class="textwidget  text-center marg-btm-10 fnt-600">
                <p class="footer-clr marg-both-10 clr-fff">
                    At Sevenway Creation, we take pride in being a leading
                    manufacturer of customized group apparel, specializing in T-shirts, shorts, pants, and uniforms.
                    Based in the textile hub of Tirupur, our dedicated team ensures high-quality manufacturing, catering
                    to clients both nationally and internationally. 
                </p>
            </div>
            <ul class="social-icon-one text-center pdd-0">
                <li><a target="_blank"
                        href="https://instagram.com/sevenway_customtshirt_official?igshid=MmVlMjlkMTBhMg=="><i
                            class="fab fa-instagram"></i></a></li>
                <li><a target="_blank"
                        href="https://www.linkedin.com/in/jeevanantham-v-s-37559073?utm_source=share&amp;utm_campaign=share_via&amp;utm_content=profile&amp;utm_medium=android_app"><i
                            class="fab fa-linkedin"></i></a></li>

            </ul>
            <ul class="otherlinks text-center pdd-0 mt-3">
                <li><a class="footer-clr fnt-600 fnt-fam clr-fff" routerLink="/aboutUs">About us</a></li>
                <li><a class="footer-clr fnt-600 fnt-fam clr-fff" routerLink="/our-products"> Our Products</a></li>
                <li><a class="footer-clr fnt-600 fnt-fam clr-fff" routerLink="/gallery"> Gallery</a></li>
                <li><a class="footer-clr fnt-600 fnt-fam clr-fff" routerLink="/enquiry"> Enquiry</a></li>
                <li><a class="footer-clr fnt-600 fnt-fam clr-fff" routerLink="/contactUs">Contact Us</a></li>

            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-content">
            <div class="mb-txt-center">
                <div class="copyright pull-left fnt-fam fnt-we-500 footer-clr">© Copyright 2025 At Sevenway Creation All
                    Rights Reserved</div>
            </div>
            <div class=" mb-txt-center">
                <p class="footer-clr  m-0 clr-fff text-mb-center fnt-600 fnt-fam fnt-14">Powered by : 
                    Jeeva
                </p>
            </div>
        </div>
    </div>


</footer>